div{
    margin-bottom: 50px;
}
.square{
    height: 100px;
    width: 100px;
    margin-top: 50px;
    background-color: red;
}
.ellipse{
    height: 100px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
}
.triangle-up{
    height: 0;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid red;

}
.triangle-righr{
    height:0;
    width: 0;
    border-left: 200px solid red;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
}
.triangle-botton{
    height: 0;
    width: 0;
    border-top: 200px solid red;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
}
.triangle90{
    height: 0;
    width: 0;
    border-top: 200px solid red;
    border-right: 200px solid transparent;
}
.trapeze{
    height: 0;
    width: 100px;
    border-bottom: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;


}